<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body class='app'>

  <div class="jumbotron text-center">
    <div class="container">
      Auto-Wcag Deployer
    </div>
  </div>
  <div class="container">
    <button class='btn' id='gh-pages-deploy-btn'>
      Deploy gh-pages
    </button>
  </div>

  <% include ../partials/scripts.ejs %>
</body>
</html>
